scrolly-rail {
  display: flex;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

@media (prefers-reduced-motion: no-preference) {
  scrolly-rail {
    scroll-behavior: smooth;
  }
}
